.font-weight-normal{
    font-weight: normal;
  }
  ul{
    padding-left: 1.5rem;
  }
  .bottom-bordered{
    border-bottom-color: #262626;
    border-bottom-style: sollid;
    border-bottom-width: 1px;
  }
  .max-width-1100{
     max-width: 1100px;
  }
  .height-40{
    height: 40pxl;
  }
  .resize-none{
    resize: non;
  }
  .height-150{
    height: 150px;
  }
  .width-150{
    width: 150px;
  }
  .padding-y-xs{
    padding-top: 10px;
  }
  input textarea{
    font-size: 1rem;
    border-width: 2px
    padding: 0 5px;
  }